
<!DOCTYPE html>
<html dir="ltr" lang="en">
@model dynamic
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, material admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, material design, material dashboard bootstrap 4 dashboard template">
    <meta name="description" content="MaterialPro is powerful and clean admin dashboard template, inpired from Google's Material Design">
    <meta name="robots" content="noindex,nofollow">
    <title>MaterialPro Admin Template by WrapPixel</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/materialpro/" />
    <link href="~/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div class="page-wrapper" style="display: block;">
        <!-- ============================================================== -->
        <!-- Left Part  -->
        <!-- ============================================================== -->
        <div class="left-part bg-white fixed-left-part">
            <!-- Mobile toggle button -->
            <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"></a>
            <!-- Mobile toggle button -->
            <div class="p-3">
                <h4>Informacion Usuario</h4>
            </div>
            <div class="scrollable position-relative ps-container ps-theme-default ps-active-y" style="height:100%;" data-ps-id="ec08f973-6fca-6103-ccfb-49ee2cbf476d">
                <div class="p-3">
                    <h5 class="card-title">Imagen Ejemplo</h5>
                    <img src="~/images/users/9.jpg" class="img-fluid " alt="users">
                    <p class="mt-2">Esta Imagen Cambiara dependiendo del usuario</p>
                    @if (Model.informacionUsuario[0].TIPOUSUARIO == "ADMINISTRADOR")
                    {
                        <div class="mt-3">
                            <div class="mt-3">
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#centermodal">Informacion Basica</button>
                            </div>
                            <div class="mt-3">
                                <button type="button" class="btn waves-effect waves-light btn-warning" data-toggle="modal" data-target="#crearMateria">Crear Curso</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="mt-3">
                            <div class="mt-3">
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#centermodal">Informacion Basica</button>
                            </div>
                        </div>
                    }

                </div>
                <hr>
                <div class="p-3">
                    <h5 class="card-title">Informacion Basica</h5>
                    <form class="mt-3" action="/Home/Logout/" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre Usuario</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="@Model.informacionUsuario[0].NOMBRES @Model.informacionUsuario[0].APELLIDOS" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Rol Usuario</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" value="@Model.informacionUsuario[0].TIPOUSUARIO" readonly>
                        </div>
                       
                        <button type="submit" class="btn btn-success">Cerra Sesion</a></button>
                        
                    </form>
                </div>
                <hr>
                <div class="p-3">
                </div>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 955px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 849px;"></div></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Part  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Part  Mail Compose -->
        <!-- ============================================================== -->
        <div class="right-part overflow-auto">
            <div class="p-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Informacion</h4>
                    </div>
                </div>
                @if (Model.informacionUsuario[0].TIPOUSUARIO == "ADMINISTRADOR")
                {
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Estudiantes</h4>
                            <h6 class="card-subtitle">
                                Se veran todos los estudiantes y su respectiva Curso asignada
                            </h6>
                            <div class="table-responsive">
                                <table id="default_order" class="table table-striped table-bordered display"
                                       style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo Documento</th>
                                            <th>Numero Identificacion</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var estudiante in Model.informacionEstudiantes)
                                        {
                                            <tr>
                                                <td>@estudiante.IDUSUARIO</td>
                                                <td>@estudiante.NOMBRES</td>
                                                <td>@estudiante.APELLIDOS</td>
                                                <td>@estudiante.TIPOIDENTIFICACION</td>
                                                <td>@estudiante.NUMEROIDENTIFICACION</td>
                                                <td>@estudiante.NOMBREMATERIA</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo Documento</th>
                                            <th>Numero Identificacion</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Profesores</h4>
                            <h6 class="card-subtitle">
                                Se veran todos los Profesores y su respectiva Curso
                            </h6>
                            <div class="table-responsive">
                                <table id="default_order" class="table table-striped table-bordered display"
                                       style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo Documento</th>
                                            <th>Numero Identificacion</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var estudiante in Model.informacionProfesores)
                                        {
                                            <tr>
                                                <td>@estudiante.IDUSUARIO</td>
                                                <td>@estudiante.NOMBRES</td>
                                                <td>@estudiante.APELLIDOS</td>
                                                <td>@estudiante.TIPOIDENTIFICACION</td>
                                                <td>@estudiante.NUMEROIDENTIFICACION</td>
                                                <td>@estudiante.NOMBREMATERIA</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo Documento</th>
                                            <th>Numero Identificacion</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Cursos</h4>
                            <h6 class="card-subtitle">
                                Se veran todos los Cursos
                            </h6>
                            <div class="table-responsive">
                                <table id="default_order" class="table table-striped table-bordered display"
                                       style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var estudiante in Model.informacionCursos)
                                        {
                                            <tr>
                                                <td>@estudiante.IDMateria</td>
                                                <td>@estudiante.NombreMateria</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.informacionUsuario[0].TIPOUSUARIO == "PROFESOR")
                {
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Estudiantes</h4>
                            <h6 class="card-subtitle">
                                Se veran todos los estudiantes y su respectiva Curso asignada
                            </h6>
                            <div class="table-responsive">
                                <table id="default_order" class="table table-striped table-bordered display"
                                       style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo Documento</th>
                                            <th>Numero Identificacion</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var estudiante in Model.informacionEstudiantes)
                                        {
                                            <tr>
                                                <td>@estudiante.IDUSUARIO</td>
                                                <td>@estudiante.NOMBRES</td>
                                                <td>@estudiante.APELLIDOS</td>
                                                <td>@estudiante.TIPOIDENTIFICACION</td>
                                                <td>@estudiante.NUMEROIDENTIFICACION</td>
                                                <td>@estudiante.NOMBREMATERIA</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo Documento</th>
                                            <th>Numero Identificacion</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Cursos</h4>
                            <h6 class="card-subtitle">
                                Se veran todos los Cursos
                            </h6>
                            <div class="table-responsive">
                                <table id="default_order" class="table table-striped table-bordered display"
                                       style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var estudiante in Model.informacionCursos)
                                        {
                                            <tr>
                                                <td>@estudiante.IDMateria</td>
                                                <td>@estudiante.NombreMateria</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Profesores</h4>
                            <h6 class="card-subtitle">
                                Se veran todos los Profesores y su respectiva Curso
                            </h6>
                            <div class="table-responsive">
                                <table id="default_order" class="table table-striped table-bordered display"
                                       style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo Documento</th>
                                            <th>Numero Identificacion</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var estudiante in Model.informacionProfesores)
                                        {
                                            <tr>
                                                <td>@estudiante.IDUSUARIO</td>
                                                <td>@estudiante.NOMBRES</td>
                                                <td>@estudiante.APELLIDOS</td>
                                                <td>@estudiante.TIPOIDENTIFICACION</td>
                                                <td>@estudiante.NUMEROIDENTIFICACION</td>
                                                <td>@estudiante.NOMBREMATERIA</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo Documento</th>
                                            <th>Numero Identificacion</th>
                                            <th>Nombre Curso</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        <footer class="footer text-center">
            All rights reserved by Materialpro.
        </footer>


    </div>
    <!-- ============================================================== -->
    <!-- Modales -->
    <!-- ============================================================== -->
    <div class="modal fade" id="crearMateria" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h4 class="modal-title" id="mycrearMateriaLabel">Crear Curso</h4>
                    <button type="button" class="close ml-auto" data-dismiss="modal"
                            aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal pt-12" id="crearMateriaForm" action="/Home/CrearMateria/" method="post">
                        <div class="form-group">
                            <label for="username">Nombre Curso</label>
                            <input type="text" class="form-control" id="nombreMateria" name="nombreMateria" placeholder="Ingresa Nombre Curso" required minlength="2">
                        </div>
                        <div class="form-group">
                            <label for="username">Horas Curso</label>
                            <input class="form-control" type="number" id="horasClase" name="horasClase" required minlength="1">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Crear Curso</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modales -->
    <!-- ============================================================== -->
    <!-- Center modal content -->
    <div class="modal fade" id="centermodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h4 class="modal-title" id="myCenterModalLabel">Informacion Basica</h4>
                    <button type="button" class="close ml-auto" data-dismiss="modal"
                            aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    @foreach (var item in Model.informacionUsuario)
                    {
                        <div class="form-group">
                            <label for="username">Usuario Login</label>
                            <input class="form-control" type="text" id="username" value="@item.NOMBRELOGIN" readonly>
                        </div>
                        <div class="form-group">
                            <label for="username">Contraseña</label>
                            <input class="form-control" type="text" id="contrasena" value="@item.CONTRASENA" readonly>
                        </div>
                        <div class="form-group">
                            <label for="username">Tipo Usuario</label>
                            <input class="form-control" type="text" id="username" value="@item.TIPOUSUARIO" readonly>
                        </div>
                        <div class="form-group">
                            <label for="username">Fecha Creacion</label>
                            <input class="form-control" type="text" id="username" value="@item.FECHACREACION.ToString("dd/MM/yyyy")" readonly>
                        </div>
                        <div class="form-group">
                            <label for="username">Identificacion</label>
                            <input class="form-control" type="text" id="username" value="@item.NUMEROIDENTIFICACION" readonly>
                        </div>
                    }
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="~/js/app.min.js"></script>
    <script src="~/js/app.init.dark.js"></script>
    <script src="~/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>
    <!--This page plugins -->
    <script src="~/libs/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/js/pages/datatable/custom-datatable.js"></script>
    <script src="~/js/pages/datatable/datatable-basic.init.js"></script>
    <script>
        function validarFormulario() {
            var form = document.getElementById('crearMateriaForm');
            if (form.checkValidity() === false) {
                form.classList.add('was-validated');
                return false;
            }
            return true;
        }
    </script>

</body>

</html>